.monaco-diff-editor-tool-bar {
   position: relative;
   gap: 10px;
   width: 100%;
   top: 0px;
   height: 24px;
   z-index: 1000;
   display: flex;
   padding-left: 10px;
   padding-right: 10px;
   color: var(--monaco-status-bar-color);
   background: var(--monaco-status-bar-bg);
}


.monaco-diff-editor-tool-button {
   cursor: pointer;
   border: none;
   border-radius: 4px;
   transition: all 0.3s ease;
   color: var(--monaco-status-bar-color);
   background: var(--monaco-status-bar-bg);
}

.monaco-diff-editor-tool-button:hover {
   transform: translateY(-3px);
}

.monaco-diff-editor-tool-button:active {
   transform: translateY(-1px);
}

